.task-list {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0px 8rem 0px 4rem;
}
.add-btn {
  width: 13%;
  height: 40px;
  background-color: rgb(6, 129, 185);
  float: left;
  color: white;
}
