.user-profile {
  margin: 50px 40px;
  font-family: sans-serif;
  color: rgb(32, 31, 31);
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15%;
}
button {
  width: 15%;
  height: 40px;
  margin: 0px 20px;
  border-radius: 5px;
  border-color: rgb(201, 189, 189);
  background-color: transparent;
  font-family: sans-serif;
  color: rgb(31, 29, 29);
}
input {
  margin-left: 10px;
  outline: none;
  border: 0;
}
input:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: black;
  border: 1px solid black;
}
