body {
  font-family: sans-serif;
}
.dropdown {
  width: 15%;
  height: 40px;
  margin: 20px;
}

#list {
  font-weight: 0;
  display: 0;
  white-space: 0;
  min-height: 0;
  padding: 0;
}
.info {
  margin: 0px 50px;
  font-size: 14px;
  color: rgb(124, 121, 121);
}
.note {
  margin: 20px 50px;
  font-size: 20px;
  color: rgb(87, 84, 84);
}
