.App {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  background-color: whitesmoke;
  width: 100%;
  height: 60px;
  font-family: sans-serif;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-inline-start: 0px;
  list-style: none !important;
  margin: 0px;
}
.logo {
  color: rgb(173, 171, 171);
  padding: 0px 40px 0px 20px;
}
.navbar li a {
  text-decoration: none;
  color: rgb(201, 189, 189);
  font-size: 24px;
  padding: 10px 40px;
  transition: all 0.3s ease;
  list-style-type: none;
}
.navbar li a:hover {
  background-color: black;
}
.error {
  color: red;
}
.full-width {
  width: 50%;
}
.password {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.flex {
  display: flex;
}

.tab:focus,
.tab li:active {
  background-color: black;
}
.navbar li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
a:-webkit-any-link {
  text-decoration: none;
}
.nav-link li:hover {
  background-color: black;
}
